#image {
    width: 100%;
    border: solid whitesmoke;
    border-width: 8px;
    margin-top: 40px;
    border-radius: 0.75%;
}

.title {
    color: lightyellow;
    font-size: 52px;
    font-family: "Libre Baskerville";
    text-transform: uppercase;
}

.text {
    color: white;
    font-size: 20px;
}



html {
    background-color: black;
}

div {
    margin-left: 27%;
    width: 46%;
    text-align: center;
}